spring:
  application:
    name: back-end
  main:
    allow-bean-definition-overriding: true

  datasource:
    url: jdbc:mysql://mysql:3306/smartclinic?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    mongodb:
      uri: mongodb://mongo:27017
      database: prescriptions

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  web:
    resources:
      static-locations: classpath:/static/

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false
    encoding: UTF-8

management:
  endpoint:
    health:
      show-details: always
  health:
    db:
      enabled: true

api:
  path: /api/

jwt:
  secret: $!@#$^%$$$%####$DDCPN0234FCFDPD8670M
